header {
    background-color:#a484e9;
}
body {
    background-color: rgb(255, 255, 255);
}
a {
    display: inline-flex;
    align-items: center;
    color:white;
    font-size: 20px;
    font-family: "Zen Dots", cursive;
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
}   
a::before {
    content:"";
    background-color:#31bff3;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
#button {
    display: inline-block;
    background-color:#31bff3;
    height:60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
}
nav {
    text-align: right;
}